@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

html {
    background-color: #1c1c1c;

    /* standard font */
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
}
